<h2>Edit service provider profile</h2>

<form style="display:block" >
    <div class="form-group">
        <label class="clg-lg-3" > 
                First Name:
        </label>
        <div class="clg-lg-8" >
            <input class="form-control" value="<%= provider.firstname %>" >
        </div>
    </div>
    <div class="form-group">
        <label class="clg-lg-3" > 
                Last Name:
        </label>
        <div class="clg-lg-8" >
            <input class="form-control" value="<%= provider.lastname %>" >
        </div>
    </div>
    <div class="form-group">
        <label class="clg-lg-3" > 
                Email:
        </label>
        <div class="clg-lg-8">
            <input class="form-control" value="<%= provider.username %>" >
        </div>
    </div>
    <div class="form-group">
        <label class="clg-lg-3" > 
                Phone no:
        </label>
        <div class="clg-lg-8">
            <input class="form-control" value="<%= provider.phone_no %>">
        </div>
    </div><div class="form-group">
        <label class="clg-lg-3" > 
                Address:
        </label>
        <div class="clg-lg-8">
            <input class="form-control" value="<%= provider.address %>">
        </div>
    </div> 

</form>