<!DOCTYPE html>
<html lang="en">
    <head>
<meta charset="UTF-8">
<title>User Settings Page</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
<link rel="stylesheet" href="../../css/update.css">
</head>
<body>
    
    <div class="leftbox">
        <nav>
            <a onclick="tabs(0)" class="tab active">
                 <i class="fa fa-user"></i>
                 <span>Personal Info</span>
                 
            </a>
            <a onclick="tabs(1)" class="tab">
                <i class="fa fa-credit-card"></i>
                <span>Edit Service Info</span>
                
            </a>
            <a onclick="tabs(2)" class="tab">
                <i class="fa fa-credit-card"></i>
                <span>Payment Info</span>
                
            </a>
            <a onclick="tabs(3)" class="tab">
                <i class="fa fa-tv"></i>
                <span>Subscription Info</span>
                
            </a>
            <a onclick="tabs(4)" class="tab">
                <i class="fa fa-tasks"></i>
                <span> Privacy Settings</span>
               
            </a>
            <a onclick="tabs(5)" class="tab">
                <i class="fa fa-cog"></i>
                <span> Account Settings</span>
               
            </a>
        </nav>
    </div>
    
        <div class="rightbox">
            <div class="profile tabShow">
                <form action="/provider/<%=provider._id%>?_method=PUT" method="POST" >
                    <h1>Personal Info</h1>
                    
                    <h2>Full Name</h2>
                    <input type="text"  value="<%= provider.firstname %>" name="provider[firstname]"">
                    <h2>Last Name</h2>
                    <input type="text" value="<%= provider.lastname %>" name="provider[lastname]">
                    <h2>Email</h2>
                    <input type="text" value="<%= provider.username %>" name="provider[username]">
                    <h2>Phone No.</h2>
                    <input type="text" value="<%= provider.phone_no %>" name="provider[phone_no]">
                    <h2>Address</h2>
                    <input type="password" value="<%= provider.address %>" name="provider[address]">
                    <button class="btn">Save Changes</button>
                </form>
            </div>

            <div class="service tabShow">
                <div>
                    <h4>YOUR SERVICES</h4>

                    <% if(provider.servicesProviding) {%>
                        <% provider.servicesProviding.forEach(function(service){ %>
                            <form action="/provider/<%=id%>/<%=service._id%>?_method=PUT" method="POST">

                            <h2>Service Type</h2>
                            <input type="text"  value="<%= service.type%>" name="updatedservice[type]">
                            <h2>Related To</h2>
                            <input type="text"  value="<%= service.appliance%>" name="updatedservice[appliance]">
                            <h2>Service Type</h2>
                            <input type="text"  value="<%= service.description%>" name="updatedservice[description]">
                            <h2>Service Type</h2>
                            <input type="text"  value="<%= service.price%>" name="updatedservice[price]">
                            
                            <button>Save Changes</button>

                            
                            <!-- <div>
                                <button><a href="/provider/<%=provider._id%>/<%=service._id%>/edit">UPDATE</a></button>
                                <form action="/provider/<%=provider._id%>/<%=service._id%>/delete?_method=DELETE" method="POST">
                                    <button >DELETE</button>
                                </form>
                            </div> -->
                            <hr>
                        <% }) %>
                    <% }else { %>
                        <li>YOU DONT HAVE ANY SERVICES YET </li>
                    <% } %>
                </div>
            </div>

            <div class="payment tabShow">
                <h1>Payment Info</h1>
                <h2>Payment Method</h2>
                <input type="text" class="input" value="MasterCard - 0202 **** **** 3245">
                <h2>Billing Address</h2>
                <input type="text" class="input" value="House no.235 Chandni Chowk,Delhi">
                <h2>PinCode</h2>
                <input type="text" class="input" value="234005">
                <h2>Billing Date</h2>
                <input type="text" class="input" value="5/1/2018">
                <h2>Redeem Card</h2>
                <input type="password" class="input" value="Enter Gift Code">
                <button class="btn">update</button>
            </div>
            <div class="subscription tabShow">
                <h1>Subscription Info</h1>
                <h2>Payment Date</h2>
                <p>12/05/2019</p>
                <h2>Next Charges</h2>
                <p>Rs.800<span>includes tax</span></p>
                <h2>Plan</h2>
                <p>Limited Plan</p>
                <h2>Monthly Payment</h2>
                <p>Rs.300/month</p>
                <button class="btn">update</button>
            </div>
            <div class="privacy tabShow">
                <h1>Privacy Settings</h1>
                <h2>Manage Email Noti.</h2>
                <p></p>
                <h2>Manage Privacy Settings</h2>
                <p></p>
                <h2>Veiw Terms Of Use</h2>
                <p></p>
                <h2>Personalized Ad Experience</h2>
                <p></p>
                <h2>Protect Account</h2>
                <p></p>
                <button class="btn">update</button>
            </div>
            <div class="settings tabShow">
                <h1>Account Settings</h1>
                <h2>Sync Watchlist</h2>
                <p></p>
                <h2>Hold Subcription</h2>
                <p></p>
                <h2>Cancel Subscription</h2>
                <p></p>
                <h2>Your Devices</h2>
                <p></p>
                <h2>Refferals</h2>
                <p></p>
                <button class="btn">update</button>
            </div>
        </div>
    

    <script src="../../js/jquery-3.3.1.min.js"></script>
    <script src="../../js/update.js"></script>
</body>
</html>