<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  this is a test str<br>
    <%if(results){%>
        <% results.forEach(function(result){console.log('yelo',result.servicesProviding);%>
        <%if(Array.isArray(result)){%>
          <%result.forEach((resultd)=>{%>
            <ul>SERVICES PROVIDING : <%resultd.servicesProviding.forEach(function(s){console.log(s)%>
                <ul><%=s.appliance%>  </ul>
                <ul><%=s.description%>  </ul>
                <ul><%=s.price%>  </ul>
                <ul>*********************</ul>
            <%})%>
            </ul>
            <ul>NAME : <%= resultd.firstname%> <%= result.lastname %></ul>
            <ul>ADDRESS : <%= resultd.address%></ul>
            <ul>EMAIL :<%= resultd.username%></ul>
            <ul>PROFESSIOON :<%= resultd.profession%></ul>
            <hr>
        <%})%>

        <%} else{%>
          <ul>SERVICES PROVIDING : <%result.servicesProviding.forEach(function(s){%>
              <ul><%=s.appliance%>  </ul>
              <ul><%=s.description%>  </ul>
              <ul><%=s.price%>  </ul>
              <ul>*********************</ul>
          <%})%>
          </ul>
          <ul>NAME : <%= result.firstname%> <%= result.lastname %></ul>
          <ul>ADDRESS : <%= result.address%></ul>
          <ul>EMAIL :<%= result.username%></ul>
          <ul>PROFESSIOON :<%= result.profession%></ul>
          <hr>
      <!-- -->
        <%}%>
        <%})%>


    <% } else { %>
        <h2> NO SEARCH RESULTS </h2>
    <% } %>
</body>
</html>
