<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome <%=currentUser.firstname %></h2>
    <button><a href="/logout">LOGOUT</a></button>
    
    <div>SERVICE PROVIDER PAGE</div>
    <div>
        <li>NAME : <%= currentUser.firstname %>  
        </li>
        <li>PHONE NUMBER : <%= currentUser.phone_no%> </li>
        <li>EMAIL : <%=currentUser.username%></li>
        <li>ADDRESS : <%= currentUser.address %></li>
        <button><a href="/provider/<%=currentUser._id%>/edit">UPDATE PROFILE</a></button>
    </div>
    <button><a href="/provider/<%=currentUser._id%>/addservice">ADD SERVICES</a></button>
    <div>
        <h4>YOUR SERVICES</h4>
        <% if(currentUser.servicesProviding) {%>
            <% currentUser.servicesProviding.forEach(function(service){ %>
                <ul>SERVICE TYPE : <%= service.type%></ul>
                <ul>RELATED TO :<%= service.appliance%></ul>
                <ul>DESCRIPTION :<%= service.description%></ul>
                <ul>PRICE :<%= service.price%></ul>
                <div>
                    <button><a href="/provider/<%=currentUser._id%>/<%=service._id%>/edit">UPDATE</a></button>
                    <form action="/provider/<%=currentUser._id%>/<%=service._id%>/delete?_method=DELETE" method="POST">
                        <button >DELETE</button>
                    </form>
                </div>
                <hr>
            <% }) %>
        <% }else { %>
            <li>YOU DONT HAVE ANY SERVICES YET </li>
        <% } %>
    </div>

    <img src="../../images/person_1.jpg">


    <% if(imgsrc) {%>
        <img src= "../../images/real carpenter.png">
        <p> <%= imgsrc %></p>
        <% } %>
    <h1>Upload Image</h1>
 
<form action="/provider/<%=currentUser._id%>" method="post" enctype="multipart/form-data">
        <input type="file" accept="image/*" name="photo" >
        <input type="submit" value="upload">
</form>
</body>
</html>

<style>
    #delete {
        display: inline;
    }
</style>