<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome <%=currentUser.firstname %></h2>
    <div>SERVICE PROVIDER PAGE</div>
    <div>
        <li>NAME : <%= currentUser.firstname %>  
        </li>
        <li>PHONE NUMBER : <%= currentUser.phone_no%> </li>
        <li>EMAIL : <%=currentUser.username%></li>
        <li>ADDRESS : <%= currentUser.address %></li>
        <button><a href="/provider/<%=currentUser._id%>/edit">UPDATE PROFILE</a><button></button>
    </div>
    <a>ADD SERVICES</a>
    <div>
        <h4>YOUR SERVICES</h4>
    </div>
</body>
</html>